#container{
    display:flex;   
    width: 100%;
    background-color:black;
    
  }  
#side{
width:13%;
   background-color:black	;
color:white;
 padding-left:20px;

     
}
#view{
  width:87%;
  background-color:black; 
  color:white;
 
  
  } 
h3{
line-height:5px;} 
div{
margin-bottom:10px;	
  
}     
h2{
    margin-top:0px;
}
#sign{
      color:blue;
      border: 10px;
      border-color: white;
      width: 100px;
      border-radius: 20px;
      border: solid thin blue;
      padding: 6px;
      padding-right: 2px;
      display: flex;
    }
    #person{
      
      width: 20px;
      border-radius: 50%;
     
      
      border: solid thin white;
      
       margin: 0px;

    }
#header{
     display:flex;
  
  }
.head{
margin-right:20px;
 margin-top:2px;	
 background-color:rgb(109, 103, 103);
 padding-top: 2px;
 height: 23px;
 border-radius: 5px;
 padding-left: 3px;
 width: 100%;
 font-size: 12px;
 text-align: center;
  }
  .head:hover{
    
    width: 100%;
    height: 23px;
    border-radius: 7px;
    
   cursor: pointer;
    background-color:rgb(82, 80, 80);


  }
#all{
   background-color:white;
color:black;
  border-radius:2px;
  width:35px;
  height:25px;
  text-align: center;
}
#home{
  width: 180px;
          height: 29px;
          border-radius: 7px;
          background-color:rgb(111, 108, 108);
}
#srh{
  display: flex;
  position: relative;
  left: 350px;

}
#dot{
    position: relative;
    left: 200px;
    display: flex;
    top: 15px;
}

#search{

  margin-top: 10px;
  padding-left: 5px;
   background-color:rgb(215, 209, 209);
 
  border: 2px;
  border: solid thin  white ;
  width: 500px;
  height: 35px;
  display: flex; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
#sr{
  height: 35px;
  width: 60px;
  background-color:rgb(79, 75, 75);
  border-right: 5px;
  position: relative;
  left: 397px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
#mic{
  height: 35px;
    width: 35px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: relative;
    border: solid thin white;
    left: 18px;
}
.menu{
  height: 29px;
}

.menu:hover{
         
          width: 180px;
          height: 29px;
          border-radius: 7px;
          
         cursor: pointer;
          background-color:rgb(111, 108, 108);
    
}


i{
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
#youtube{
  margin-right:2px;
  
  margin-top: 5px;
  margin-left: 5px;
}
#doremon{
  height: 250px;
  width:400px;
  background-image: url('doremon.webp');
  background-size: cover;
  border-radius: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  
}
#tom{
  height: 250px;
  width:400px;
  background-image: url('tom.jpg');
  background-size: contain;
  border-radius: 5px;
  padding-right: 10px;
  
}
#jungle{
  height: 250px;
  width:400px;
  background-image: url('junglebook.jpg');
  background-size: cover;
  border-radius: 5px;
  padding-right: 10px;
  
}
#web{
  height: 250px;
  width:400px;
  background-image: url('web.jpg');
  background-size: cover;
  border-radius: 5px;
  padding-right: 10px;
  
}
#ac{
  height: 250px;
  width:400px;
  background-image: url('apnacollege.webp');
  background-size: cover;
  border-radius: 5px;
  padding-right: 10px;
  
}
#webdev{
  height: 250px;
  width:400px;
  background-image: url('webdev.jpg');
  background-size: cover;
  border-radius: 5px;
  padding-right: 10px;
  
}


.videos:hover{
  transform:scale(0.5);
  transition: 0.1s;
   transform: translateX(2px);
   transform: translateY(-2px);   
   box-shadow: 2px 2px 20px 2px rgb(195, 183, 183);
}
#row{
  display:flex;
  
}
#c1{
  margin: 5px;

}
#c2{
  margin: 5px;
}
#c3{
  margin: 5px;
}
#show{
  width: 400px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  left: 415px;
  border:  solid thin white ;
  z-index: 1;
  bottom:25px ;
  background-color: black;
}