#container{
    display: flex;
    width:1300px;
}

#sidebar{
    width:30%;
    background-color: rgb(36, 35, 35);
   
    color: rgb(219, 205, 205);

    

}
#viewbar{
    width: 70%;
    background-color: bisque;
}
#icons{
    height: 50px;
    background-color:  rgb(59, 57, 57);
    margin-bottom: 2px;
    display: flex;
}
#search{
    height: 29px;
    background-color: rgb(59, 57, 57);
    border-radius: 10px;
    margin-bottom: 4px;
    display: flex;
}
.chat{
    height: 60px;
    background-color: rgb(60, 58, 58);
    color: whitesmoke;
  

   
   
}
#dp1{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('dp1.jpg');
    background-size: cover;
}
#dp2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('chimmy.jpg');
    background-size: cover;
}
#dp3{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('kookie.jpg');
    background-size: cover;
}
#dp4{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('koya.jpg');
    background-size: cover;
}
#dp5{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('mang.jpg');
    background-size: cover;
}
#dp6{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('rj.jpg');
    background-size: cover;
}
#dp7{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('shooky.jpg');
    background-size: cover;
}
#dp8{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('tata.pjg.jpg');
    background-size: cover;
}
#dp9{
    height: 45px;
    width: 45px;
    border-radius: 50%;
     margin: 10px 7px 6px 8px;
    position: absolute;
    background-image:url('bt21.jpg');
    background-size: cover;
}

p{
    margin-left: 60px;
     line-height: 2px;
}
.name{
    margin-top: 0.9px;
    line-height: 2px;
    padding-top: 18px;
}
.time{
    text-align: end;
    position: relative;
    bottom: 36px;
    font-size: 13px;
    right: 10px;
   
}
.pending{
    height: 16px;
    width: 16px;
    background-color: rgb(87, 252, 87);
    border-radius: 50%;
    position: relative;
    left: 350px;
    top: 18px;
    font-size: 10px;
    text-align: center;
}
#person{
          font-size: 30px;
          margin-left: 10px;
         padding-top: 5px;
}
#bright{
    font-size: 20px;
    margin-left: 195px;
   padding-top: 15px;

}
#circle{
    font-size: 20px;
    margin-left: 20px;
   padding-top: 15px;
 
}
#message{
    font-size: 20px;
    margin-left: 20px;
   padding-top: 15px;

}
#dot{
    font-size: 20px;
    margin-left: 20px;
   padding-top: 15px;

}
#mg{
    font-size: 15px;
    margin-left: 20px;
    padding-top: 8px;
    margin-right: 10px;
}