body{
    background-color: rgba(237, 235, 246, 0.877)
}

#container{
         height: 400px;
         width: 1000px;
         background-color: white;
         display: flex;
         border-radius: 20px;
        position: relative;
        top: 130px;
        left: 180px;
}
#top{
    background-color: white;
    display: flex;
}
#left{
       margin-left: 50px;
       position: relative;
       top: 30px;
     

       
}
#right{
    position: relative;
    left: 300px;
    top: 100px;

}
p{
    font-size: 35px;
}
#next{
    
    background-color: rgb(12, 88, 211);
    width: 60px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    left:35px;
    color: white;
}
#bt{
    display: flex;
    position: relative;
    top: 50px;
    left:  220px;
    color:  rgb(12, 88, 211);
    
}
#learn{
    display: flex;
    position: relative;
    left: 1000px;
    top: 20px;
    color:  rgb(12, 88, 211);
}
#Dismiss{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    left: 50px;
   border: solid thin rgb(202, 197, 197);
   text-align: center;
   color:  rgb(12, 88, 211);
}